#tictactoe {
    background-color: rgb(12, 44, 77);
    height: 100vh;
    width: auto;
    margin: 0;
}

#title {
    padding-top: 30px;
    border-bottom: 1px solid white;
}

#title h1 {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

#tictactoe-content {
    margin: 100px;
}

#tictactoe-content-board {
    display: grid;
    place-content: center;
    height: auto;
}

#tictactoe-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 620px;
    height: 620px;
}

#square {
    display: grid;
    place-content: center;
    width: 180px;
    height: 180px;
    border: 2px solid white;
    margin: 5px;
    color: white;
    font-size: 5rem;
}

.player-name {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.player-1 {
    justify-content: end;
}

.player-2 {
    justify-content: start;
}